# Flutter/Dart specific files
.idea/
.vscode/
*.iml
*.metadata
.flutter-plugins
.flutter-plugins-dependencies
build/
.dart_tool/
.pub-cache/
.pub/
.packages
.pubspec.lock
.pubspec.yaml
.dart_tool/
doc/api
doc/examples
web/flutter_service_worker.js

# Android specific files
/android/gradle.properties
/android/local.properties
/android/app/build/
/android/gradle/
/android/.gradle/
/android/captures/

# iOS specific files
/ios/Podfile.lock
/ios/Pods/
/ios/Runner.xcodeproj/
/ios/Flutter/Flutter.xcconfig
/ios/.generated/
/ios/.symlinks/
/ios/Flutter/App.framework

# macOS specific files
/macos/Flutter/Flutter.xcconfig

# Windows specific files
/windows/Flutter/Flutter-Generated.bat
/windows/Flutter/ephemeral/.plugin_symlinks/
/windows/Flutter/ephemeral/FlutterDll/
/windows/Flutter/ephemeral/flutter_assets/
/windows/Flutter/ephemeral/generated_plugin_registrant/
/windows/Flutter/flutter_assets/

# IDE and Editor specific files
*.iml
.vscode/
.idea/
*.code-workspace

# Miscellaneous
*.log
.DS_Store
.dart_tool/
/*.code-workspace

# Dependency lock files
pubspec.lock